<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSCAPE</title>
</head>
<body>
    <h1>Add New Tag</h1>
    <%if(errors){%>
        <% errors= errors.split(",")%> 
        <% errors.forEach(el => { %>
           <pre style="color:red;"><%= el %> </pre>
        <% }) %>
     <%}%>
    <form action="" method="post">
        <label>Add Tag</label><br>
        <input type="text" name="name"><br>
        <button type="submit" value="submit">Submit</button>
      </form>
</body>
</html>